* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat";
}

.top__center {
    height: 1024px;
    background-image: url(img/img1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 217px;

}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.title {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.top__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    max-width: 481px;
    color: #FFFFFF;
}

.form_button {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    background: #9C0332;
    border-radius: 30px;
    width: 234px;
    height: 48;
    border: 1px solid #9C0332;
    margin-top: 44px;

}

.game__box {
    background: #000915;
    min-height: 556px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(378px, 1fr));
    padding-top: 128px;

}

.game__box-img {
    height: 300px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    display: flex;
    align-items: end;
    padding: 32px;
    border-radius: 16px;

}

.game__box-img_1 {
    background-image: url(img/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.game__box-img_2 {
    background-image: url(img/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.game__box-img_3 {
    background-image: url(img/img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.seasons {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background: #000915;
    min-height: 800px;

    &__left {
        grid-column: span 6;
        padding-top: 282px;

        &__title {
            padding-bottom: 32px;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 59px;
            color: #FFFFFF;
        }

        &__text {
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 32px;
            color: #FFFFFF;
            max-width: 584px;
        }

        &__button {
            background: #9C0332;
            width: 234px;
            height: 48px;
            border-radius: 30px;
            border: 1px transparent;
            margin-bottom: 282px;
            margin-top: 32px;
            transition: all .3s;

            &:hover {
                background: #EB443F;
            }
        }
    }

    &__image {
        grid-column: span 5;
        background-image: url(img/seasonsimage.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-left: 135px;
        width: 100%;
    }
}

.seasons__button__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.play {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }

    &__center {
        align-items: center;
        display: flex;
        gap: 32px;
        flex-direction: column;
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        max-width: 584px;

        &_center {
            text-align: center;
            max-width: max-content;
        }
    }

    &__button {
        height: 48.6px;
        width: 234.06px;
        top: 187px;
        left: 0px;
        border-radius: 30px;
        background: #9C0332;
        font-weight: 400;
        line-height: 22px;
        font-size: 18px;
        color: #FFFFFF;
        transition: 1s;
        font-family: 'Montserrat';

        &:hover {
            background: rgb(73, 181, 181);
            text-decoration: underline;
            color: black;
            font-size: 24px;
        }
    }
}

.memory {
    display: flex;
    flex-direction: row-reverse;
    background-image: url(img/Rectangle\ 7.png);
    height: 800px;
    justify-content: space-between;
    align-items: center;
}

.guess {
    background-image: url(img/unsplash_iO0I6-mhDEY.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer {
    background: #000915;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        font-style: normal;
    }
}

@import 'mobile';